@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    height: 100vh;
    position: relative;
}
#card{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
span{
    font-family: Kumbh Sans;
}
#card svg{
    border-radius: 20px 20px 0 0;
}
#card img{
    border-radius: 100%;
    border: 5px solid white ;
    margin-top: -50px;
    margin-left: 125px;
}
#card #profil{
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#card #profil #name{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
#card #profil #age{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 16px;
}
#card #profil #city{
    color: hsl(0, 0%, 59%);
}
#card #social{
    height: 150px;
    width: 350px;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 20px;
}
#card #social span{
    font-weight: 700;
    font-size: 18px;
}
#card #social .subtitle{
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);;
}
.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}