@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    height: 100vh;
    position: relative;
    overflow: hidden; /* les dépassements seront masqués */
    background: hsl(185, 75%, 39%) -200px -550px no-repeat url(images/bg-pattern-top.svg);
}
#bottom{
    display: absolute;
    padding-top: 375px;
    padding-left: 750px;
}
#card{
    width: 350px;
    height: 375px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
}
span{
    font-family: Kumbh Sans;
}
#banner{
    border-radius: 20px 20px 0 0;
    height: 140px;
    background: no-repeat url(images/bg-pattern-card.svg);
}
#card img{
    border-radius: 100%;
    border: 5px solid white ;
    margin-top: -50px;
    margin-left: 125px;
}
#card #profil{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
#card #profil #name{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
#card #profil #age{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 16px;
}
#card #profil #city{
    color: hsl(0, 0%, 59%);
}
#card #social{
    height: 150px;
    width: 350px;
    border-top: 1px solid  hsla(0, 0%, 59%, 0.322);
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 25px;
    border-radius: 0 0 20px 20px;
}
#card #social span{
    font-weight: 700;
    font-size: 18px;
}
#card #social .subtitle{
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: hsl(0, 0%, 59%);;
}
.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}